# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
.venv_new/

# Uploads
app/static/uploads/

# Environment files
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
